<div id="topbar">
    <div id="topbar-bg"></div>
    <div id="topbar-inner">
        <div id="logo">
            <a href="@Url.Action("Index", "Home")">SocioBook</a>
        </div>

        <div id="links">
            <div id="user-links"> 
                @{ var isAuth = User.Identity.IsAuthenticated; }

                @if (!isAuth)
                {
	                <a id="main" href="@Url.Action("LogOn", "Account")">Log On</a>
	                <a id="select">More Options</a>        
                    <div id="select-options">
	                    <a href="@Url.Action("Register", "Account")">Register</a>
                    </div>
                }
                else
                {
                    <div id="main">Hello, @User.Identity.Name.</div>
	                <a id="select">More Options</a>        
                    <div id="select-options">
                        <a href="@Url.Action("ViewProfile","Account")">Profile</a>
                        <a href="@Url.Action("Index", "Chat")">Chat</a>
                        @using(Html.BeginForm("Unregister", "Account", FormMethod.Post))
                        {
                            <input type="submit" value="Delete Account" /> 
                        }
	                    <a href="@Url.Action("LogOut", "Account")">Log Out</a>
                    </div>
                }
            </div>                              
        </div>            
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#links div[id$='-options']").hide();

        $("#main")
			.next()
                .addClass("ui-icon ui-icon-triangle-1-s")
				.click(function (event) {
				    var id = this.id;
				    var name = id + "-options";

				    $("#" + name)
                    .mouseleave(function (event) {
                        if (event.relatedTarget && (!($(event.relatedTarget).parent().attr("id") == name) && !($(event.relatedTarget).attr("id") == "user-links"))) {
                            $("#" + name)
                            .unbind("mouseleave")
                            .hide();
                        }
                    })
                    .show();

				    $(this).mouseout(function (event) {
				        if (event.relatedTarget && (!($(event.relatedTarget).parent().attr("id") == name) && !($(event.relatedTarget).attr("id") == "user-links"))) {
				            $("#" + name)
                            .unbind("mouseleave")
                            .hide();
				        }
				    });
				});
    });
</script>