@model Model.User

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    @if (Model == null) {
        <h2 class="error">@ViewBag.Error</h2> 
    }   
    else
    {
        <h2>@Model.Name's Profile</h2>
        using (Html.BeginForm("AddFriend","Account", new { userName = Model.Username }))
        {
             if (!Model.Username.Equals(User.Identity.Name) && !Model.Friends.Contains(Mappers.UserMapper.Singleton.Get(User.Identity.Name)))
             {
                 <input type="submit" value="Adicionar como Amigo"/>
             }
        }
        <div class="display-label">Name</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">Username</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Username)
        </div>
        <p>
            @if (Model.Username.Equals(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "EditProfile")   
            }
            else
            {
                @Html.ActionLink("Wall", "Wall", "Home", new { user = Model.Username }, null)
            }
        </p>
    }
</div>